body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ffffff;
  color: #fff;
}

.Tip {
  width: 110%;
}

.Tip__card {
  width: 100%;
}

.Tip__label {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.Tip__card textarea {
  padding: 10px;
  width: 100%;
}

.Tip__card input[type="submit"] {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
}

.Tip__reactions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 20px;
}

a {
  color: #d35400;
}

blockquote {
  padding: 0;
  margin: 0;
  quotes: "\201c""\201d";
}
blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}
