.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  flex: none;
}

.resumeButton {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #000000;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.success {
  background-color: greenyellow;
  color: #333333;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
