.sidebar {
  overflow: auto;
  color: rgb(119, 119, 119);
  background: linear-gradient(
    rgb(249, 248, 247),
    rgb(251, 250, 248) 46px,
    rgb(251, 251, 249) 120px,
    rgb(248, 247, 245) 35%,
    rgb(249, 248, 246)
  );
}

.sidebar__highlights {
  list-style: "none";
  padding: 0;
}

.sidebar__highlight {
  padding: 0.5rem;
  cursor: pointer;
  transition: background 140ms ease-in;
  /* border-bottom: 1px solid rgb(119, 119, 119); */
}
